@font-face {
   font-family: 'GeraldinePersonalUseItalic-PK12m';
   font-display: swap;
   src: url('file:///Users/matthieunicaise/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-09-03_143152/fonts/GeraldinePersonalUseItalic-PK12m/font.ttf');
}
